In [123]:
import numpy as np
import pandas as pd
import sklearn
from matplotlib import pyplot as plt
from pandas.plotting import table

In [124]:
gsm = pd.read_csv('ICCS - CSLAB Analysis/network_stats/gsm.csv', usecols=lambda x: x not in ['BSC_NAME', 'CELL_ID'])
gsm['ID'] = gsm['BTS_NAME'].apply(lambda x : x[1:-2].strip('0')).astype(int)
gsm = gsm.loc[:, gsm.columns != 'BTS_NAME']
gsm['PERIOD_START_TIME'] = pd.to_datetime(gsm['PERIOD_START_TIME'], format='%Y-%m-%d %H:%M:%S')
gsm = gsm.groupby([pd.Grouper(key='ID'), pd.Grouper(freq='H', key='PERIOD_START_TIME', closed='left')]).sum()
gsm = gsm.reset_index()
gsm['Weekday'] = gsm.PERIOD_START_TIME.dt.dayofweek
gsm['Hour'] = gsm.PERIOD_START_TIME.dt.hour
gsm = gsm.reset_index()
gsm = gsm.groupby([pd.Grouper(key='ID'), pd.Grouper(key='Weekday'), pd.Grouper(key='Hour')]).mean(numeric_only=True)
gsm = gsm.loc[:, gsm.columns != 'index']
gsm.head()

                 INCOMING_HO_SEIZURES  CALL_REQUESTS  TCH_NORMAL_SEIZURES  \
ID Weekday Hour
5  0       0                17.085714     355.000000           354.514286
           1                 4.485714     159.342857           159.085714
           2                 1.400000      76.942857            76.942857
           3                 1.371429      47.085714            46.885714
           4                 0.771429      44.685714            44.628571

                 TCSH_TRAFFIC  TCH_CONGESTION  TCH_BLOCKING     ULRLC  \
ID Weekday Hour
5  0       0        22.173714        0.000000           0.0  0.618857
           1         9.941714        0.046571           0.0  0.674571
           2         4.752000        0.004286           0.0  0.935143
           3         2.399714        0.019429           0.0  0.632286
           4         1.454286        0.000000           0.0  0.501429

                 ULRLCEDGE     DLRLC  DLRLCEDGE
ID Weekday Hour
5  0       0     13.873429  0.694571  31.920571
           1     10.609429  0.590286  24.520000
           2      7.774857  0.674571  22.062000
           3      7.539143  0.453143  17.810000
           4      7.426286  0.356000  18.520000

In [125]:
lte = pd.read_csv('ICCS - CSLAB Analysis/network_stats/lte.csv')
lte.fillna(0)
lte.rename(columns={'ENODEBID':'ID'}, inplace=True)
lte = lte.loc[:, ~lte.columns.isin(['ENB_NAME', 'CELLNAME', 'CELLID', 'ECI'])]
lte['PERIOD_START_TIME'] = pd.to_datetime(lte['PERIOD_START_TIME'], format='%Y-%m-%d %H:%M:%S')
lte = lte.groupby([pd.Grouper(key='ID'), pd.Grouper(freq='H', key='PERIOD_START_TIME', closed='left')]).sum()
lte = lte.reset_index()
lte['Weekday'] = lte.PERIOD_START_TIME.dt.dayofweek
lte['Hour'] = lte.PERIOD_START_TIME.dt.hour
lte = lte.reset_index()
lte = lte.groupby([pd.Grouper(key='ID'), pd.Grouper(key='Weekday'), pd.Grouper(key='Hour')]).mean(numeric_only=True)
lte = lte.loc[:, lte.columns != 'index']
lte.head()

                 VOLTE_CALLMINUTES  LTE_DL_TRAFFIC  LTE_UL_TRAFFIC  \
ID Weekday Hour
5  0       0           1279.897297    96151.236757     7983.802162
           1            664.774865    75808.923514     5787.615135
           2            317.664324    53437.401351     4161.737568
           3            173.671892    35391.205405     2819.916216
           4             95.141081    25106.282432     2170.070541

                 LTE_CA_TRAFFIC  DL_THROUGHPUT  UL_THROUGHPUT
ID Weekday Hour
5  0       0       60972.999730    2157.583784     165.514595
           1       46804.406216    2569.806757     183.612432
           2       31888.631622    2882.213784     190.097027
           3       20328.368649    3146.567027     194.881351
           4       14067.025946    3189.540541     190.604324

In [126]:
nr = pd.read_csv('ICCS - CSLAB Analysis/network_stats/nr.csv')
nr.rename(columns={'SITEID':'ID'}, inplace=True)
nr = nr.loc[:, ~nr.columns.isin(['SITENAME', 'CELLNAME', 'CELLID', 'NCI'])]
nr['PERIOD_START_TIME'] = pd.to_datetime(nr['PERIOD_START_TIME'], format='%Y-%m-%d %H:%M:%S')
nr = nr.groupby([pd.Grouper(key='ID'), pd.Grouper(freq='H', key='PERIOD_START_TIME', closed='left')]).sum()
nr = nr.reset_index()
nr['Weekday'] = nr.PERIOD_START_TIME.dt.dayofweek
nr['Hour'] = nr.PERIOD_START_TIME.dt.hour
nr = nr.reset_index()
nr = nr.groupby([pd.Grouper(key='ID'), pd.Grouper(key='Weekday'), pd.Grouper(key='Hour')]).mean(numeric_only=True)
nr = nr.loc[:, nr.columns != 'index']
nr.head()

                  DL_TRAFFIC  UL_TRAFFIC  AVG_DL_MAC_DRB_CELL_TPUT  \
ID Weekday Hour
5  0       0     2353.202973   68.099730                638.394595
           1     1502.431081   41.465405                688.577297
           2      784.843784   23.880541                745.438108
           3      525.110811   17.170000                753.824595
           4      359.263243   51.726216                726.814595

                 NORM_AVG_DL_MAC_CELL_TPUT  NORM_AVG_UL_MAC_CELL_TPUT  \
ID Weekday Hour
5  0       0                    444.144865                  28.730811
           1                    426.243514                  27.575946
           2                    395.499459                  26.227297
           3                    346.187297                  24.680811
           4                    329.044595                  25.200000

                 AVG_UL_MAC_UE_TPUT
ID Weekday Hour
5  0       0             125.128378
           1             144.617027
           2             163.804324
           3             167.448378
           4             155.500270

In [57]:
energy = pd.read_csv('ICCS - CSLAB Analysis/energy_monitoring/data.csv', usecols=['energy_mean', 'case', 'base_station_nm','time'], dtype={'energy_mean':np.float64})
energy = energy.loc[energy.case == 'anorth']
energy = energy.loc[~energy.energy_mean.isna()]
name_dict = {'Amvrakias':'2577',
             'Dagkli':'67',
             'Egaleo':'5',
             'Ilioupoli':'89',
             'Marousi':'56',
             'Metaxa':'589',
             'Milioni':'530',
             'Plastira':'2935',
             'Roumelis':'739',
             'Siosinoglou':'2909',
             'Votsi':'703',
             'Zefirou':'2859'}

energy['ID'] = energy['base_station_nm'].map(name_dict)
energy = energy[['time', 'ID', 'energy_mean']]
energy['time'] = pd.to_datetime(energy['time'], format='%Y-%m-%dT%H:%M:%SZ')
energy.set_index(['ID', 'time'], inplace=True)
energy.sort_values(by=['ID', 'time'], ascending=[True, True], inplace=True)
energy = energy.groupby(by=['ID']).transform(lambda x: x.shift(-1) - x )

energy = energy.groupby([pd.Grouper(level='ID'), pd.Grouper(freq='H', level='time', closed='left')]).sum()
energy = energy.reset_index()
energy['Weekday'] = energy.time.dt.dayofweek
energy['Hour'] = energy.time.dt.hour
energy = energy.reset_index()
energy = energy.groupby([pd.Grouper(key='Weekday'), pd.Grouper(key='Hour')]).mean(numeric_only=True)
energy = energy.loc[:, energy.columns != 'index']
energy.head()

              energy_mean
Weekday Hour
0       0     2385.071516
        1     2373.137174
        2     2342.600000
        3     2334.714211
        4     2394.835575

In [127]:
date = pd.Series(pd.date_range(start="2022-01-01", end="2022-12-31"))

In [128]:
weekday = date.dt.weekday

In [129]:
date_dict = {'Date':date, 'Weekday':weekday}

In [130]:
date_pd = pd.DataFrame(date_dict)

In [131]:
all_vars = gsm.join([lte, nr], how='outer')
all_vars = all_vars.reset_index()
all_vars.head()

,ID,Weekday,Hour,INCOMING_HO_SEIZURES,CALL_REQUESTS,TCH_NORMAL_SEIZURES,TCSH_TRAFFIC,TCH_CONGESTION,TCH_BLOCKING,ULRLC,...,LTE_UL_TRAFFIC,LTE_CA_TRAFFIC,DL_THROUGHPUT,UL_THROUGHPUT,DL_TRAFFIC,UL_TRAFFIC,AVG_DL_MAC_DRB_CELL_TPUT,NORM_AVG_DL_MAC_CELL_TPUT,NORM_AVG_UL_MAC_CELL_TPUT,AVG_UL_MAC_UE_TPUT
0,5,0,0,17.085714,355.000000,354.514286,22.173714,0.000000,0.0,0.618857,...,7983.802162,60972.999730,2157.583784,165.514595,2353.202973,68.099730,638.394595,444.144865,28.730811,125.128378
1,5,0,1,4.485714,159.342857,159.085714,9.941714,0.046571,0.0,0.674571,...,5787.615135,46804.406216,2569.806757,183.612432,1502.431081,41.465405,688.577297,426.243514,27.575946,144.617027
2,5,0,2,1.400000,76.942857,76.942857,4.752000,0.004286,0.0,0.935143,...,4161.737568,31888.631622,2882.213784,190.097027,784.843784,23.880541,745.438108,395.499459,26.227297,163.804324
3,5,0,3,1.371429,47.085714,46.885714,2.399714,0.019429,0.0,0.632286,...,2819.916216,20328.368649,3146.567027,194.881351,525.110811,17.170000,753.824595,346.187297,24.680811,167.448378
4,5,0,4,0.771429,44.685714,44.628571,1.454286,0.000000,0.0,0.501429,...,2170.070541,14067.025946,3189.540541,190.604324,359.263243,51.726216,726.814595,329.044595,25.200000,155.500270

In [132]:
final = date_pd.merge(all_vars.reset_index(), on='Weekday', how='inner')

In [118]:
final = final.sort_values(by='PERIOD_START_TIME')

KeyError: 'PERIOD_START_TIME'

In [133]:
final['Hour'] = final['Hour'].astype(str).str.pad(width=2, side='left', fillchar='0')
final['PERIOD_START_TIME'] = pd.to_datetime(final['Date'].astype(str) + ' ' + final['Hour'].astype(str), format='%Y-%m-%d %H')

In [134]:
final = final.loc[:, ~final.columns.isin(['Date', 'Weekday', 'index', 'Hour'])]
final = final.set_index(['PERIOD_START_TIME'])

In [135]:
final.reset_index().to_csv('cosmote_synthetic_2022.csv', index=False)